header {
    background: url(./bg.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    height: 300px;
    margin: -10px;
}

.search {
    margin-top: 100px;
}
.searchInput{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.searchBtn{
    width: 100px;
    height: 32px;
    background-color: rgb(19, 94, 19);
}
#imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

.image img {
    width: 200px;
    height: auto;
}
.img-det{
    margin-left: 35%;
}
.svg-class{
    width: 70px;
    height: 70px;
}